
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    text-align: center;
    background: #007AF5;
}

.titl {
    font-size: 10%;
}

body {
    text-align: center;
    border: 3px solid #F00063;
}
