
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    text-align: center;
    border: 3px solid #F00063;
}

header {
    text-align: center;
    background: #007AF5;
}

.titl {
    font-size: 10%;
}

.parara{ 
    margin: 10% 9% 0%;
    padding: auto;
}

