
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    text-align: center;
    border: 3px solid #F00063;
}

header {
    text-align: center;
    background: #007AF5;
}

.titl {
    font-size: 300%;
}

.parara{ 
    margin: 1% 1% 1%;
    padding: auto;
    font-size: 180%;
}

